<!DOCTYPE html>
<html>
<head>
  <title>EVG People Center</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-1.7.2.min.js' ,'jquery-ui-1.8.23.custom.min.js' ,'application'%>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
